<p id="notice"><%= notice %></p>

<p>
  <strong>Pay to:</strong>
  <% @employee = Employee.find_by_id(@payment.pay_to_id)%>
  <%= @employee.first_name + " " + @employee.last_name%>
</p>

<%= link_to 'Edit', edit_payment_path(@payment) %> |
<%= link_to 'Back', payments_path %>
